* {
  margin: 0;
  padding: 0;
  font-family: helvetica, calibri, sans-serif;
}

/*global*/

.wrapper{
  max-width: 1000px;
}

.container{
  width: 80%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.button_1{
  margin: 15px 10px;
  padding: 15px 20px;
  border: #c6b497 solid 2px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  color: #c6b497;
  font-size: 20px;
  width: 120px;
}

.button_1:hover{
  background-color: #c6b497;
  color: #fff;
  transform: scale(1.1);
}

.button_2{
  margin: 15px 10px;
  padding: 15px 20px;
  border: #839b97 solid 2px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  color: #839b97;
  font-size: 20px;
  width: 120px;
}

.button_2:hover{
  background-color: #839b97;
  color: #fff;
  transform: scale(1.1);
}


.form_button{
  padding: 10px 20px;
  border: #c6b497 solid 2px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  color: #c6b497;
  font-size: 20px;
}

.form_button:hover{
  background-color: #c6b497;
  color: #fff;
  transform: scale(1.05);
}
/*header*/

header{
  background: url(../images/cat1_smaller.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #c6b497;
}

#showcase{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1{
  line-height: 0.9;
  font-size: 65px;
}

header p{
  margin: 25px 0;
  font-size: 15px;
  width: 60%;
}


/*section_a*/

.section_a{
  background-color: #839b97;
  color: #c6b497;
}

#boxes{
 display:flex;
 justify-content: space-around;
 align-items: flex-start;
 flex-wrap: wrap;

}

.box_1{
  padding: 20px 10px;
  width: 250px;
  height: auto;
  text-align: center;
  margin: 20px 10px;
  border: #c6b497 solid 2px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.box_1 p{
  padding: 10px 20px;
}
/*section_b*/

.section_b{
  background-color: #cfd3ce;
  text-align: center;
}

.box_4{
  padding:
  width: 50%;
  text-align: justify;
  margin: 20px auto;
  border-radius: 25px;
}

/*blog*/

.blog{
  background-color: #839b97;
  text-align: center;
  color: #c6b497;
}

.blog_post{
  margin: 20px 0;
  padding: 25px;
  text-align: left;
  border: #c6b497 solid 2px;
  border-radius: 10px;
}

.blog_post h2, h3{
  padding: 5px 0;
}

/*form*/

#section_c{
  display: flex;
  justify-content: space-around;
}

#form img{
  margin: 25px 0;
  width: 40%;
  max-height: 270px;
  object-fit: cover;
}

#form img:hover{
  filter: grayscale();
}

.form_1{
  margin: 25px 0;
  padding: 35px;
  width: 40%;
  height: 200px;
  background-color: #cfd3ce;
  border-radius: 10px;
}

.form_1 input[type=text]{
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.form_1 input[type=email]{
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.form_1 input[type=textarea]{
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.form_1 input[type=submit]{
  float: right;
  width: 100%;
}

.form_1 label[for=email]{
  margin-top: 5px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 10px;
}

.col-75 {
  float: left;
  width: 75%;

}

/*footer*/

footer{
  background-color: #34626c;
  color: #c6b497;
  text-align: center;
  padding: 10px;
}

@media (max-width:800px){

  #boxes, #section_c{
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  }

  .box_1{
    padding: 20px 10px;
    width: 75%;
    height: 250px;
    text-align: center;
    margin: 20px 10px;
    border: #c6b497 solid 2px;
  }

  .box_1 p{
    padding: 10px 20px;
  }

  #form img{
    margin: 25px 0;
    width: 80%;
  }

  .form_1{
    margin: 15px 0;
    padding: 35px;
    width: 65%;
    height: 200px;
    background-color: #cfd3ce;
  }

}
